<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:ctx="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
	    http://www.springframework.org/schema/context/spring-context.xsd
	    http://www.springframework.org/schema/aop		
        http://www.springframework.org/schema/aop/spring-aop.xsd">
	<ctx:annotation-config></ctx:annotation-config>
	<ctx:component-scan base-package="com.quiz.*"></ctx:component-scan>


	<bean id="dataSource" class="com.quiz.integrate.DataSource">
		<property name="driver" value="${driver}"></property>
		<property name="url" value="${url}"></property>
		<property name="username" value="${username}"></property>
		<property name="password" value="${password}"></property>
	</bean>

	<bean id="quizDBQuery" class="com.quiz.helper.QuizDBQuery">
		<property name="selectDataQuerycssquestions"
			value="select QID,Questions,Option1,Option2,Option3,Option4,Answer from cssquestions"></property>
		<property name="selectDataQuerypythonquestions"
			value="select QID,Questions,Option1,Option2,Option3,Option4,Answer from phythonquestions"></property>
		<property name="selectDataQueryjavaquestions"
			value="select QID,Questions,Option1,Option2,Option3,Option4,Answer from javaquestions"></property>
		<property name="selectDataQuerydatabasequestions"
			value="select QID,Questions,Option1,Option2,Option3,Option4,Answer from databasequestions"></property>
		<property name="selectUserByUserName"
			value="select username,password from users where UserName=?"></property>
		<property name="selectState"
			value="select stateCode,stateName from state"></property>
		<property name="selectCityByState"
			value="select cityName from city where stateCode=?"></property>

		<property name="persistUserDetailsQuery"
			value="insert into userdetails(FirstName,LastName,UserName,EmailId,DOB,State,City,Address,Gender) values(?,?,?,?,?,?,?,?,?)"></property>
		<property name="persistUserQuery"
			value="insert into users(username,password,enabled) values(?,?,1)"></property>
		<property name="persistUserAuthority"
			value="insert into authorities(username,authority) values(?,'USER')"></property>
			
			
	
			
		<property name="saveUserScore" value="insert into score(subject,score,username) values(?,?,?)"></property>
		
		<property name="selectScoreByUsername"
			value="select username,score,subject from score where UserName=?"></property>
			
		<property name="selectUserDetailsByUsername"
			value="select UserName,FirstName,LastName,EmailId,Address,State,City,Dob,Gender from userdetails where UserName=?"></property>

	</bean>

	<bean id="propertyConfigurerDB"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:db.properties</value>
			</list>
		</property>
	</bean>



</beans>



	